<div class="layuimini-main">

    <div class="layui-form layuimini-form">
        <div class="layui-form-item">
            <input type="hidden" name="id" value="{{student.id}}" >
            <label class="layui-form-label required">姓名</label>
            <div class="layui-input-block">
                <input type="text" name="name" lay-verify="required" lay-reqtext="姓名不能为空"  value="{{student.name}}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">性别</label>
            <div class="layui-input-block">
                {% if student.sex==1 %}
                <input type="radio" name="sex" value="1" title="男" checked>
                <input type="radio" name="sex" value="0" title="女" >
                {% else %}
                 <input type="radio" name="sex" value="1" title="男" >
                <input type="radio" name="sex" value="0" title="女" checked>
                {% endif %}
            </div>
        </div>
		<div class="layui-form-item">
		    <label class="layui-form-label required">学号</label>
		    <div class="layui-input-block">
		        <input type="text" name="student_number" lay-verify="required" lay-reqtext="学号不能为空"  value="{{student.student_number}}" class="layui-input">
		    </div>
		</div>
        <div class="layui-form-item">
            <label class="layui-form-label required">学院</label>
            <div class="layui-input-block">
                <input type="text" name="college_name" lay-verify="required" lay-reqtext="学院不能为空"  value="{{student.college_name}}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required" >年级</label>
            <div class="layui-input-block">
                <input type="text" name="grade" lay-verify="required"  lay-reqtext="年级不能为空"  value="{{student.grade}}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">专业班级</label>
            <div class="layui-input-block">
                <input type="text" name="class_name" lay-verify="required"  lay-reqtext="专业班级不能为空"  value="{{student.class_name}}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['form', 'table'], function () {
        var form = layui.form,
            layer = layui.layer,
            table = layui.table,
            $ = layui.$;

        /**
         * 初始化表单，要加上，不然刷新部分组件可能会不加载
         */
        form.render();

        // 当前弹出层，防止ID被覆盖
        var parentIndex = layer.index;

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            $.ajax({
                url:'/api/student',
                type:'put',
                data:data.field,
                success:function(res){
                    if(res.code==0){
                        layer.msg("保存成功！")
                         // 关闭弹出层
                        layer.close(parentIndex);
                    }
                    else{
                        layer.msg("保存失败！"+res.msg)
                    }
                }
            });
            return false; //阻止表单跳转
            });

    });
</script>