<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">年级</label>
                            <div class="layui-input-inline">
                                <select class="layui-inline" name="grade" >
                                	<option value="">所有年级</option>
                                    {% for e in model['grades']%}
                                	<option value="{{e}}">{{e}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
						<div class="layui-inline">
							<label class="layui-form-label">学院</label>
							<div class="layui-input-inline">
							    <select class="layui-inline" name="college_name"  lay-search lay-filter="collegeSelect">
									<option value="">请选择学院</option>
                                    {% for e in model['colleges']%}
									<option value="{{e}}">{{e}}</option>
                                    {% endfor %}
							    </select>
							</div>
						 </div>
						 <div class="layui-inline">
						     <label class="layui-form-label">专业班级</label>
						     <div class="layui-input-inline">
						         <select class="layui-inline" name="class_name" id="class_name" lay-search>
						         	<option value="">请选择专业班级</option>
						         </select>
						     </div>
						 </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary" id="search" lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="studentToolBar">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="removeAll"> 删除选中学生 </button>
            </div>
        </script>

		<table class="layui-hide" id="studentTableId" lay-filter="studentTableFilter"></table>
        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="remove">删除</a>
        </script>

    </div>
</div>

<script>
    layui.use(['form', 'table','miniPage','element'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            miniPage = layui.miniPage;
        form.render();
		//学院选完之后，专业自动跳出来
        form.on('select(collegeSelect)', function(data){
          $.get('/api/getClassnames?college_name='+data.value,function(res){
                if(res.code==0){
                    $("#class_name").empty();
                    $("#class_name").append("<option value=''>请选择专业班级</option>");
                    $.each(res.data,function(k,v){
                        $("#class_name").append("<option value="+v+">"+v+"</option>");
                    })
                    form.render();
                }
          })
        });

		table.render({
			elem: '#studentTableId',
			data:[],
			toolbar: '#studentToolBar',
			defaultToolbar: ['filter', 'exports', 'print'],
			cols: [[
				{type: "checkbox", width: 50},
                {type: 'numbers',title: '序号', width:40},
				{field: 'id', title: '序号',hide:true},
				{field: 'college_name', title: '学院（系）名称', minWidth: 150, sort: true},
				{field: 'grade', title: '年级', sort: true},
				{field: 'class_name', title: '专业班级', sort: true},
				{field: 'name', title: '姓名', sort: true},
				{field: 'sex',  title: '性别', sort: true,templet:function(d){return d.sex==0?"女":"男";}},
				{field: 'student_number',  title: '学号', sort: true, minWidth: 150},
				{field: 'comment',  title: '备注'},
				{title: '操作', minWidth: 150, toolbar: '#currentTableBar', align: "center"}
			]],
			limits: [10, 15, 20, 25, 50, 100],
			limit: 15,
			page: true,
			skin: 'line'
		});
		var refreshTable=function(){
            $('#search').click();
        };

			// 监听搜索操作
		form.on('submit(data-search-btn)', function (data) {
		    var index=layer.load(0,{shade:0.2,time: 10*1000})
		    $.get("/api/testingStudent",data.field,function(res){
		        layer.close(index);
                 newdata=res.code==0?res.data:[];
                //执行搜索重载
                table.reload('studentTableId', {
                                   data:newdata
                 });
            });
		    return false;
		});



        //监听批量删除
		table.on('toolbar(studentTableFilter)',function(obj){
			if(obj.event === 'removeAll'){
			    layer.confirm("确定要删除选中学生吗？",function(){
			        var checkStatus = table.checkStatus('studentTableId');
                    var tstudent_ids=[];
                    $.each(checkStatus.data,function(index,e){
                        tstudent_ids.push(e.id);
                    });
                    var index=layer.load(0,{shade:0.2});
                    $.ajax({
                        method:"DELETE",
                        url:"/api/testingStudent",
                        data:{"tstudent_ids":tstudent_ids.join(",")},
                        success:function(res){
                            if(res.code==0){
                                layer.msg("删除成功！");
                                refreshTable();
                            }
                            else{
                                layer.msg("删除失败！"+res.msg)
                            }
                        },
                        complete:function(res){
                            layer.close(index);
                        }
                    })
                })
			}
		});

		//监听每行删除
		table.on('tool(studentTableFilter)', function (obj) {
		    var data = obj.data;
		    if (obj.event === 'remove') {
				$.ajax({
				    method:"DELETE",
				    url:"/api/testingStudent",
				    data:{"tstudent_ids":""+data.id},
				    success:function(res){
				        if(res.code==0){
				            layer.msg("删除成功！");
				            refreshTable();
				        }
				        else{
				            layer.msg("删除失败！"+res.msg)
				        }
				    }
				})
		    }
		});

        refreshTable()





    });
</script>