<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">年份</label>
                            <div class="layui-input-inline">
                                 <input type="text" name="year" autocomplete="off" class="layui-input" value={{model.year}}>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <div>总体情况</div>
        <table class="layui-hide" id="generalScoreId" lay-filter="generalScoreIdFilter"></table>
		<div>详细得分</div>
		<table class="layui-hide" id="detailScoreId" lay-filter="detailScoreIdFilter"></table>


    </div>
</div>

<script>
    layui.use(['form', 'table','miniPage','element'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            miniPage = layui.miniPage;
			
        var excTrans=function(d){
            return Number(d.excellent_rate*100).toFixed(2)+"%"
        }
        var goodTrans=function(d){
            return Number(d.good_rate*100).toFixed(2)+"%"
        }
        var passTrans=function(d){
            return Number(d.pass_rate*100).toFixed(2)+"%"
        }
        table.render({
            elem: '#generalScoreId',
		    data:[],
            toolbar: 'true',
            defaultToolbar: ['filter', 'exports', 'print'],
            cols: [[
                {field: 'year', title: '年份'},
                {field: 'testing_number', title: '体测总人数'},
                {field: 'boy_number', title: '男生人数'},
                {field: 'girl_number', title: '女生人数'},
                {field: 'score',  title: '总分', sort: true},
                {field: 'score_rank',  title: '总分排名'},
				{field: 'pass_rate',  title: '及格率', sort: true,templet:passTrans},
				{field: 'pass_rank',  title: '及格率排名'},
				{field: 'good_rate',  title: '良好率', sort: true,templet:goodTrans},
				{field: 'good_rank',  title: '良好率排名'},
				{field: 'excellent_rate',  title: '优秀率', sort: true,templet:excTrans},
				{field: 'excellent_rank',  title: '优秀率排名'}
            ]],
            skin: 'line'
        });
		
		table.render({
		    elem: '#detailScoreId',
		    data:[],
		    toolbar: 'true',
		    defaultToolbar: ['filter', 'exports', 'print'],
		    cols: [[
		        {title: '序号',type:'numbers'},
		        {field: 'project_name', title: '项目名', minWidth: 150},
		        {field: 'score', title: '平均分', sort: true},
		        {field: 'score_rank', title: '排名'},
		        {field: 'pass_rate', title: '及格率', sort: true,templet:passTrans},
		        {field: 'pass_rank',  title: '及格率排名'},
		        {field: 'good_rate',  title: '良好率', sort: true,templet:goodTrans},
		        {field: 'good_rank',  title: '良好率排名'},
		        {field: 'excellent_rate',  title: '优秀率', sort: true,templet:excTrans},
		        {field: 'excellent_rank',  title: '优秀率排名'}
		    ]],
		    skin: 'line'
		});
		
        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            var index = layer.load(0,{shade:0.2,time:100*1000})
            $.get('/api/schoolTotalScore',data.field,function(res){
                if(res.code==0){
                    newdata=res.data?res.data:[]
                    console.log(newdata)
                    table.reload('generalScoreId', {data:newdata})
                }
            })
            $.get('/api/schoolDetailScore',data.field,function(res){
                layer.close(index);
                if(res.code==0){
                    newdata=res.data?res.data:[]
                    console.log(newdata)
                    table.reload('detailScoreId', {data:newdata})
                }
            })


            return false;
        });

       
    });
</script>