<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="" lay-filter="serchForm">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">年份</label>
                            <div class="layui-input-inline">
                                <input type="text" name="year" autocomplete="off" class="layui-input" value="{{nowyear}}">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">姓名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="name" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">学号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="student_number" autocomplete="off" class="layui-input">
                            </div>
						</div>
						<div class="layui-inline">
						    <label class="layui-form-label">年级</label>
						    <div class="layui-input-inline">
<!--						        <select class="layui-inline" name="grade" lay-verify="" lay-search>-->
<!--						        	<option value="2020">2020</option>-->
<!--						        	<option value="2019">2019</option>-->
<!--						        	<option value="2018">2018</option>-->
<!--						        </select>   -->
                                <input type="text" name="grade" autocomplete="off" class="layui-input">
						    </div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">学院</label>
							<div class="layui-input-inline">
<!--							    <select class="layui-inline" name="college" lay-verify="" lay-search>-->
<!--									<option value="数学计算机">数学计算机</option>-->
<!--									<option value="物理信息">物理信息</option>-->
<!--									<option value="体育学院">体育学院</option>-->
<!--							    </select>   -->
                                <input type="text" name="college_name" autocomplete="off" class="layui-input">
							</div>
						 </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary"  id="search" lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        
        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="detail">查看详情</a>
        </script>

       <script type="text/html" id="toolbarDemo">
         <div class="layui-btn-container">
           <button class="layui-btn layui-btn-sm" lay-event="dowonloadScore">下载全部详细成绩</button>
         </div>
       </script>

    </div>
</div>

<script>
    layui.use(['form', 'table','miniPage','element'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            miniPage = layui.miniPage;

        table.render({
            elem: '#currentTableId',
            data:[],
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print'],
            cols: [[
                {field: 'id', title: '序号'},
                {field: 'college_name', title: '学院（系）名称', minWidth: 150, sort: true},
                {field: 'grade', title: '年级', sort: true},
                {field: 'class_name', title: '专业班级', sort: true},
                {field: 'name', title: '姓名', sort: true},
                {field: 'sex',  title: '性别', sort: true,templet:function(e){return e.sex==0?"女":"男";}},
				{field: 'student_number',  title: '学号', sort: true, minWidth: 150},
                {field: 'year',  title: '体测年份'},
                {field: 'score',  title: '总分'},
                {title: '操作', minWidth: 150, toolbar: '#currentTableBar', align: "center"}
				]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 15,
            page: true,
            skin: 'line'
        });
		
	
		
		
        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            $.get("/api/testingStudent",data.field,function(res){
                newdata=res.code==0?res.data:[];
                table.reload("currentTableId",{
                    data:newdata
                });

            })
            return false;
        });
		
    


        table.on('tool(currentTableFilter)', function (obj) {
		    var data = obj.data;
		    if (obj.event === 'detail') {
				var content = miniPage.getHrefContent('/school/scoreDetail?id='+data.id);
                var openWH = miniPage.getOpenWidthHeight();

                var index = layer.open({
                    title: data.name,
                    type: 1,
                    shade: 0.2,
                    shadeClose: true,
                    content: content
                });
		    }
		});
       table.on('toolbar(currentTableFilter)',function(obj){
            if (obj.event=="dowonloadScore"){
                year=form.val('serchForm').year
                var index=layer.confirm("您确定要下载"+year+"年的所有数据吗？",function(){
                    window.open("/api/downloadAllScores?year="+year,'_blank');
                    layer.close(index);
                })

            }
       })
       var refreshTable=function(){
            $('#search').click();
        };
        refreshTable();
    });
</script>