<div class="layuimini-main">

    <div class="layui-form layuimini-form">
        <div class="layui-form-item">
            <label class="layui-form-label required">学校名称</label>
            <div class="layui-input-block">
                <select class="layui-inline" name="school_name"  lay-search lay-verify="required">
                    <option value="">请选择学校</option>
                    {% for e in model['schools']%}
                    <option value="{{e}}">{{e}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
		<div class="layui-form-item">
		    <label class="layui-form-label required">账号</label>
		    <div class="layui-input-block">
		        <input type="text" name="username" lay-verify="required" lay-reqtext="账号不能为空"  value="" class="layui-input">
		    </div>
		</div>
        <div class="layui-form-item">
            <label class="layui-form-label required">密码</label>
            <div class="layui-input-block">
                <input type="text" name="password" lay-verify="required" lay-reqtext="密码不能为空"  value="" class="layui-input">
            </div>
        </div>
		<div class="layui-form-item">
		    <label class="layui-form-label required">确认密码</label>
		    <div class="layui-input-block">
		        <input type="text" name="verify_password" lay-verify="required|confirmPass" lay-reqtext="密码不能为空"  value="" class="layui-input">
		    </div>
		</div>
		
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['form', 'table'], function () {
        var form = layui.form,
            layer = layui.layer,
            table = layui.table,
            $ = layui.$;

        /**
         * 初始化表单，要加上，不然刷新部分组件可能会不加载
         */
        form.render();

        // 当前弹出层，防止ID被覆盖
        var parentIndex = layer.index;

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            $.post('/api/account',data.field,function(res){
                if(res.code==0){
                    layer.msg("添加成功！")
                    layer.close(parentIndex);
                }
                else{
                    layer.msg("添加失败！"+res.msg)
                }
            })
            return false;
        });
        form.verify({
		  confirmPass:function(value){
		          if($('input[name=password]').val() !== value)
		              return '两次密码输入不一致！';
		      }
		});

    });
</script>