<div class="layuimini-main">

    <div class="layui-form layuimini-form">
        <div class="layui-form-item">
            <label class="layui-form-label required">项目名称</label>
            <div class="layui-input-block">
                <input type="text" name="name" lay-verify="required" lay-reqtext="学校名称不能为空"  value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">性别</label>
            <div class="layui-input-block">
				<input type="radio" name="sex" value="1" title="男" checked="checked">
                <input type="radio" name="sex" value="0" title="女" >
            </div>
        </div>
		<div class="layui-form-item">
		    <label class="layui-form-label required">权重</label>
		    <div class="layui-input-block">
		        <input type="text" name="weight" lay-verify="required" lay-reqtext="学校代码不能为空"  value="" class="layui-input">
		    </div>
		</div>
		<div class="layui-form-item">
		    <label class="layui-form-label required">备注</label>
		    <div class="layui-input-block">
		        <input type="text" name="comment" lay-verify="required" lay-reqtext="学校代码不能为空"  value="" class="layui-input">
		    </div>
		</div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['form', 'table'], function () {
        var form = layui.form,
            layer = layui.layer,
            table = layui.table,
            $ = layui.$;

        /**
         * 初始化表单，要加上，不然刷新部分组件可能会不加载
         */
        form.render();

        // 当前弹出层，防止ID被覆盖
        var parentIndex = layer.index;

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            $.post('/api/Project',data.field,function(res){
				if(res.code==0){
					layer.msg('添加成功！');
					layer.close(parentIndex);
				}
				else{
					layer.msg("添加失败！"+res.msg);
				}
			})


            return false;
        });

    });
</script>