<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main">
        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="check">审核</a>
        </script>
		
    </div>
</div>

<script>
    layui.use(['form', 'table','miniPage','element'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            miniPage = layui.miniPage;

        table.render({
            elem: '#currentTableId',
            data:[],
            cols: [[
                {type: 'numbers',title: '序号', width:40},
                {field: 'id', title: '序号',hide:true},
				{field: 'name', title: '学校名称'},
                {field: 'total_num', title: '提交人数'},
				{field: 'update_time', title: '提交时间'},
				{field: 'type', title: '提交类别'},
                {title: '操作', minWidth: 150, toolbar: '#currentTableBar', align: "center"}
            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 5,
            page: true,
            skin: 'line'
        });
		$.get('/api/getCheckList',function(res){
		    newdata=res.data?res.data:[];
		    table.reload('currentTableId',{data:newdata});
		})
        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'check') {
				miniPage.hashChange("/province/check?id="+data.id);
            }
        });

    });
</script>