<style>
    .content-margin {font-size: 19px; margin: 10px;}
</style>

<link rel="stylesheet" href="/static/layuimini/lib/jq-module/zyupload/skins/zyupload-1.0.0.min.css" media="all">
<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main">
		<div class="layui-form content-margin" lay-filter="schoolForm" style="width:400px" >
			<select name="school_id" >
			  <option value="">请选择学校</option>
				{% for e in schools %}
			  		<option value={{e['id']}}>{{e['name']}}</option>
			  	{% endfor %}
			</select>
			<div class="content-margin"><button class="layui-btn layui-btn-lg" id="download">下载校成绩模板</button></div>
		</div>

		<div id="zyupload" class="zyupload"></div>
		<div class="content-margin"><button class="layui-btn layui-btn-lg" id="analyseAll">一键计算所有成绩</button></div>
	</div>


<!--	<div class="content-margin"><button class="layui-btn layui-btn-lg" id="analyseStudent">点击计算学生成绩</button></div>-->
<!--	<div class="content-margin"><button class="layui-btn layui-btn-lg" id="analyseSchool">点击计算学校成绩</button></div>-->
</div>

<script>
    layui.use(['form', 'table','miniPage','element'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            miniPage = layui.miniPage;

			form.render();
			$('#download').bind('click',function(){
				data=form.val("schoolForm")
				console.log(data);
				school_id=data.school_id
				if (school_id==""){
					layer.alert("请先选择学校！");
					return;
				}
				else{
					window.open('/api/downloadScoreTemplateProvince?school_id='+school_id,'_blank');
				}

			});

    });
</script>
<script src="/static/layuimini/lib/jquery-3.4.1/jquery-3.4.1.min.js" charset="utf-8"></script>
<script src="/static/layuimini/lib/jq-module/zyupload/zyupload-1.0.0.min.js" charset="utf-8"></script>
<script type="text/javascript">
    $(function () {
        // 初始化插件
        $("#zyupload").zyUpload({
            width: "650px",                 // 宽度
            height: "250px",                 // 宽度
            itemWidth: "140px",                 // 文件项的宽度
            itemHeight: "115px",                 // 文件项的高度
            url: "/api/uploadScore",  // 上传文件的路径
            fileType: ["xls", "xlsx"],// 上传文件的类型
            fileSize: 51200000,                // 上传文件的大小
            multiple: false,                    // 是否可以多个文件上传
            dragDrop: true,                    // 是否可以拖动上传文件
            tailor: false,                    // 是否可以裁剪图片
            del: true,                    // 是否可以删除文件
            finishDel: true,  				  // 是否在上传文件完成后删除预览
            /* 外部获得的回调接口 */
            onSuccess: function (file, response) {          // 文件上传成功的回调方法
                res=$.parseJSON(response);
                if(res.code==0){
                     layer.alert("导入成功！"+res.msg,{icon:1})
                }
                else {
                    layer.alert("导入失败！"+res.msg,{icon:2})
                }
            },
            onFailure: function (file, response) {          // 文件上传失败的回调方法
                layer.alert("文件上传失败")
            }
        });

		//计算所有
		$('#analyseAll').bind('click',function(){
			var index = layer.load(0, {shade:0.5,time: 10*1000}); //目前没有最长时间，直接运行到结束
			$.post('/api/calculateAll',function(res){
				layer.close(index);
				if(res.code==0){
					layer.msg("计算完成！");
				}
				else{
					layer.alert("计算出错！"+res.msg);
				}
			})
		});
		$('#analyseStudent').bind('click',function(){
			var index = layer.load(0, {shade:0.5}); //目前没有最长时间，直接运行到结束
			$.post('/api/calculateStudent',function(res){
				layer.close(index);
				if(res.code==0){
					layer.msg("计算完成！");
				}
				else{
					layer.alert("计算出错！"+res.msg);
				}
			})
		});
		$('#analyseSchool').bind('click',function(){
			var index = layer.load(0, {shade:0.5}); //目前没有最长时间，直接运行到结束
			$.post('/api/calculateSchool',function(res){
				layer.close(index);
				if(res.code==0){
					layer.msg("计算完成！");
				}
				else{
					layer.alert("计算出错！"+res.msg);
				}
			})
		});


    });
</script>